/* Navbar */

.custom-navbar{
    width: 100%;
    height: 119px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 270px;
    height: 75.71px;
}
.logo img{
    width: 100%;
    height: 100%;
}

.sidebar > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.sidebar ul a{
    text-decoration: none;
    color: black;
}
.icon{
    display: none;
}
.icon-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-left: -8rem;
  height: fit-content;
  width: fit-content;
  box-shadow: 8px 8px 19px 2px #0000009e;
  font-family: Gilroy Regular;
  z-index: 2;
}
.icon-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.icon:hover .icon-content{
    display: block;
}
.icon-content >ul{
    list-style: none;
}
.sidebar ul:hover{
    color: #05A93D;
}
.sidebar li:hover{
    color: #05A93D;
}
/* Section 1 */
.sect1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
        gap: 30px;
}
.sec11{
   width: 30%;
    height: auto;
    margin-left: 10%;
    
}
.sec11 img{
    width: 100%;
    height: 100%;
}
.sec12{
    width: 40%;
    margin-right: 8%;
}
.sec12 h2{
    font-size: 43px;
    line-height: 69px;
}
.sec121{
    width: 520px;
    height: 280px;
}
.sec121 p{
    font-size: 16px;
    line-height: 28px;
}



/* Footer */

.custom-footer{
    width: 100%;
    height: 412px;
    background-color: #05a93d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.foot1{
    width: 229px;
    height: 64.22;
}
.foot img{
    width: 100%;
    height: 100%;
}
.foot2 ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.foot2 > ul a{
    text-decoration: none;
}
.foot3{
    width: 184.22px;
    height: 37.81px;
    display: flex;
    justify-content: space-between;
}
.footimages{
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F67C01;
}
.foot4{
    width: 60%;
    height: 2px;
}
.custom-line{
    width: 100%;
    height: 100%;
    background-color: black;
    border: none;
}
.foot5 h6{
    color: white;
    font-size: 14px;
}






/* Responsive navbar */
@media (max-width:320px) {

    /* Navbar */
    
    .icon{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .logo{
        width: 40%;
        height: 30%;
    }
    .custom-navbar{
        justify-content: space-between;
        padding-left: 20px;
    }

    /* Footer */
    .foot2 ul{
    gap: 10px;
    font-size: 10px;
    }
    .foot5 h6 {
        text-align: center;
        font-size: 10px;
    }
    
    .foot3 {
        width: 180px;
        height: 10px;
    }
    .sect1{
        flex-direction: column-reverse;
        align-items: start;
        gap: 80px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .sec13{
        margin-top: 75%;
    }
    .sec11{
        width: 100%;
        margin-left: 0;
    }
    .sec121{
        max-width: 340px;
    }
    .sec11 img{
        width: 100%;
        height: 100%;
    }
    
}

@media (min-width:321px) and (max-width:640px) {
    /* Navbar */
    
    .icon{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .logo{
        width: 40%;
        height: 30%;
    }
    .custom-navbar{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
    }

    /* Footer */
    .foot2 ul{
    gap: 10px;
    font-size: 10px;
    }
    .foot5 h6 {
        text-align: center;
        font-size: 10px;
    }
    
    .foot3 {
        width: 180px;
        height: 10px;
    }
    .sect1{
        flex-direction: column-reverse;
        align-items: start;
        gap: 80px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .sec13{
        margin-top: 75%;
    }
    .sec11{
        width: 100%;
        margin-left: 0;
    }
    .sec121{
        max-width: 280px;
    }
    .sec11 img{
        width: 100%;
        height: 100%;
    }
    
   
    
}
@media (min-width:641px) and (max-width:768){
    /* Navbar */
    
    .icon{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .logo{
        width: 40%;
        height: 30%;
    }
    .custom-navbar{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
    }
    .sect1{
        flex-direction: column-reverse;
        align-items: start;
        gap: 80px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .sec13{
        margin-top: 75%;
    }
    .sec11{
        width: 100%;
        margin-left: 0;
    }
    .sec121{
        
        max-width: 340px;
    }
    .sec11 img{
        width: 100%;
        height: 100%;
    }

}
@media (min-width:769px) and (max-width:1024){
    /* Navbar */
    
    .icon{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .logo{
        width: 40%;
        height: 30%;
    }
    .custom-navbar{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
    }

}
