/* Navbar */

.custom-navbar{
    width: 100%;
    height: 119px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 270px;
    height: 75.71px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.sidebar ul:hover{
    color: #05A93D;
}
.sidebar li:hover{
    color: #05A93D;
}
.sidebar > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.sidebar ul a{
    text-decoration: none;
    color: black;
}
.icon{
    display: none;
}
.icon-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-left: -8rem;
  height: fit-content;
  width: fit-content;
  box-shadow: 8px 8px 19px 2px #0000009e;
  font-family: Gilroy Regular;
  z-index: 2;
}
.icon-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.icon:hover .icon-content{
    display: block;
}
.icon-content >ul{
    list-style: none;
}

/* Section 1 */


#title{
    background-image: url(assets/abouuspic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.sect2{
    max-width: 1200px;
    margin: 0 auto;
}
.title1{
    padding: 0px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 612px;
    min-height: 335px;
}

.title1 h1 {
    font-family: Gilroy Bold;
    font-size: 50px;
    color: #05A93D;
    line-height: 63px;
    font-weight: lighter;
}
.sec21{
    padding-top: 86px;
}


.sect3 {
  width: 100%;
  display: flex;
  justify-content: space-evenly; 
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sec31 {
  flex: 1 1 22%;
  max-width: 380px;
  min-width: 250px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 30px 25px;
  transition: all 0.3s ease;
}

.sec31:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.sec32 {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: #F67C01;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sec32 img {
  width: 40px;
  height: 40px;
}

.sec31 h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
}

.sec31 p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}
.first-title{
    padding: 45px 0px 22px;
}
#about-container p{
    font-family: Gilroy Medium;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
    padding-right: 27px;
}
#about-container h3{
        font-family: Gilroy Bold;
        font-size: 22px;
        font-weight: lighter;
        color: #000;
}
.second-title{
    padding: 45px 0px 22px;
}
.second-para span{
    font-family: Gilroy Bold ;
    font-weight:lighter ;
    color: black;
}
.second-para{
    padding-bottom: 89px;
}

/* Footer */

.custom-footer{
    width: 100%;
    height: 412px;
    background-color: #05a93d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.foot1{
    width: 229px;
    height: 64.22;
}
.foot img{
    width: 100%;
    height: 100%;
}
.foot2 ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.foot2 > ul a{
    text-decoration: none;
}
.foot3{
    width: 184.22px;
    height: 37.81px;
    display: flex;
    justify-content: space-between;
}
.footimages{
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F67C01;
}
.foot4{
    width: 60%;
    height: 2px;
}
.custom-line{
    width: 100%;
    height: 100%;
    background-color: black;
    border: none;
}
.foot5 h6{
    color: white;
    font-size: 14px;
}




/* Responsive navbar */
@media (max-width:320px) {

    /* Navbar */
    
    .icon{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .logo{
        width: 40%;
        height: 30%;
    }
    .custom-navbar{
        justify-content: space-between;
        padding-left: 20px;
    }

    /* Footer */
    .foot2 ul{
    gap: 10px;
    font-size: 10px;
    }
    .foot5 h6 {
        text-align: center;
        font-size: 10px;
    }
    
    .foot3 {
        width: 180px;
        height: 10px;
    }
}
@media (min-width:321px) and (max-width:640px) {
    /* Navbar */
    
    .icon{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .logo{
        width: 40%;
        height: 30%;
    }
    .custom-navbar{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
    }

    /* Footer */
    .foot2 ul{
    gap: 10px;
    font-size: 10px;
    }
    .foot5 h6 {
        text-align: center;
        font-size: 10px;
    }
    
    .foot3 {
        width: 180px;
        height: 10px;
    }
    
}
@media (min-width:641px) and (max-width:768){
    /* Navbar */
    
    .icon{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .logo{
        width: 40%;
        height: 30%;
    }
    .custom-navbar{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
    }

}
@media (min-width:769px) and (max-width:1024){
    /* Navbar */
    
    .icon{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .logo{
        width: 40%;
        height: 30%;
    }
    .custom-navbar{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 30px;
    }

}
